* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* CSS for fixed nav-bar*/

header {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0px;
  background: white;
  z-index: 3;
}

nav {
  min-height: 10vh;
  margin: auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  color: black;
  text-decoration: none;
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 3px;
  font-size: 12px;
  position: relative;
}

nav h1,
nav ul {
  font-size: 1.5rem;
  flex: 1;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav ul li.active {
  border: rgb(131, 115, 115);
  transition: 0.7s ease border;
}

a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;

  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 100%;
  left: 0;
}

nav ul li.active a {
  border-bottom: 2px solid black;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

section h2 {
  font-size: 5 rem;
}

#blog {
  background: linear-gradient(to right top, #f1f0e9, #fff2c9);
  min-height: 100vh;
  display: grid;
  grid-template-columns: 5% 1fr 1fr 1fr 5%;
  grid-template-rows: 5% 1fr 1fr 1fr 5%;
  justify-items: center;
  align-items: center;
}

.blog-title {
  font-size: 36px;
  color: black;
  z-index: 1;
  grid-row: 3/4;
  grid-column: 3/4;
  justify-self: center;
  align-items: center;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s all ease-in-out;
}

.blog-title-appear {
  opacity: 1;
  transform: translateY(0px);
}

.blog-post {
  grid-column: 2/3;
  grid-row: 2/3;
  height: 80%;
  width: 100%;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s all ease-in-out;
}
.blog-post-appear {
  opacity: 1;
  transform: translateY(0px);
}

.blog-post img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: 1;
}
.blog-post-caption {
  grid-column: 2/3;
  grid-row: 2/3;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s all ease-in-out;
}

.blog-post-caption-appear {
  opacity: 1;
  transform: translateY(0px);
}
.blog-post-caption a {
  font-size: 10px;
  color: black;
  text-decoration: none;
  justify-self: center;
}

#curriculums {
  background: linear-gradient(to right top, #c9d6ff, #e2e2e2);
  min-height: 100vh;
}

#about-me {
  background: linear-gradient(to right top, #ece5e2, #ffd7c9);
  min-height: 100vh;
}

#home {
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  grid-template-rows: 75vh 10vh;
  min-height: 100vh;
}

.hero {
  height: 60%;
  width: 100%;
  grid-column: 2/3;
  justify-self: center;
  align-self: center;
  z-index: -1;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 20px auto;
  border-radius: 10px;
  z-index: -1;
}

.hero img::after {
  width: 100%;
  height: 100%;
  position: absolute;
}

.headline {
  font-size: 36px;
  color: black;
  font-weight: 200;
  z-index: -1;
  grid-row: 2/3;
  grid-column: 2/3;
  justify-self: center;
  align-self: top;
}

.author {
  font-size: 18px;
  color: black;
  font-weight: 200;
  z-index: -1;
  grid-row: 2/3;
  grid-column: 2/3;
  justify-self: end;
  align-self: end;
}

/* ABOUT ME PAGE */

#about-me {
  display: grid;
  grid-template-columns: 5% 2fr 1fr 1em;
  grid-template-rows: 10% 2fr 1fr 5%;
  max-height: 100vh;
  min-height: 100vh;
  grid-gap: 1em;
}

.about-me-header {
  grid-row: 1/2;
  grid-column: 2/3;
  justify-self: left;
  align-self: center;
  opacity: 0;
  transform: translateY(40px);
  transition: 0.7s all ease-in-out;
}
.about-me-header-appear {
  opacity: 1;
  transform: translateY(0px);
}

.intro h3 {
  display: inline-block;
  border-bottom: 3px solid black;
}

.intro {
  justify-self: left;
  grid-row: 2/3;
  grid-column: 2/3;
  align-self: auto;
  opacity: 0;
  transform: translateY(40px);
  transition: 0.7s all ease-in-out;
}
.intro-appear {
  opacity: 1;
  transform: translateY(0px);
}
.intro p {
  padding: 20px 0 0 0;
  line-height: 1.5;
}

.purpose {
  grid-row: 3/4;
  grid-column: 2/4;
  opacity: 0;
  transform: translateY(40px);
  transition: 0.7s all ease-in-out;
}

.purpose-appear {
  opacity: 1;
  transform: translateY(0px);
}

.purpose h3 {
  display: inline-block;
  border-bottom: 3px solid black;
}
.purpose p {
  padding: 20px 0 0 0;
  line-height: 1.5;
}

.about-me-image {
  display: grid;
  grid-row: 2/3;
  grid-column: 3/4;
  height: 100%;
  justify-self: top;
  align-items: center;
  opacity: 0;
  transform: translateY(40px);
  transition: 0.7s all ease-in-out;
}

.about-me-image-appear {
  opacity: 1;
  transform: translateY(0px);
}

.about-me-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 20px auto;
  border-radius: 10px;
}

@media (max-width: 8.0in) {
    :root { font-size: 12px; }
}
